body { background-size: 10%, 10%;
    background-image: url(../imgs/ico2018.png), url(../imgs/ico2018_image.png);
    background-position: 100% 95%, right top;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }

/* .slide {width: 1200px;} */

strong,   b {
    color: rgb(234,86,13);
}

img,  p img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-color:rgb(234,86,13);
    border-style:solid;
    border-width:2px;
}

.caption{
    font-size:0.8em;
    margin-left:auto;
    margin-right:auto;
}

table img{
    border-color:rgb(234,86,13);
}

#title-slide h1 {
    font-size: 2em;
}

h1,    h2,    h3,    h4{
    color: rgb(235, 85, 15);
    font-family: Arial, sans-serif;
    line-height:1.1;
    word-wrap:break-after;
}

 h2, h3 {
     border-bottom: 1px solid rgb(235,85,15);
     width:80%;
 } 
.author, .date {
    color: rgb(234,86,13);
    text-align: right;
}

p {
    text-align: justify;
    color: rgb(130,130,130);
}

blockquote {
    width:90%;
    font-size:0.8em;
    margin-left:auto;
    margin-right:auto;
}

blockquote p{
    width: 80%;
    font-style:justify;
    
}


.caption,  .citation {
    font-style: italic;
}
.caption {
    text-align:center;
}
.citation p{
    font-size:0.6em;
    text-align: right;
}

#pistes {
    font-size: 0.8em;
}

 ol,  ul,  dd{
    width: 97%;
    color: rgb(130,130,130);
}

 dt {
    color:rgba(236,86,13,1)}

table th {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table td {
    text-align: right;
    border-bottom: 1px solid #ddd;
} 
 table,  th,  td {
    border-bottom: 1px solid rgb(230, 230, 230);
    border-top: 1px solid rgb(230, 230, 230);
} 

#le-cahier-de-noteslaboratoire  ul{
    color:black;
    font-size:0.9em;
}

#labview figure {
    position: fixed;
    width: 30%;
    right: -150px;
    bottom: 20px;
}

.l-double{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.one {
    grid-column: 1;
    grid-row:1;
}
.two {
    grid-column: 2;
    grid-row:1;
}

.question {
    display: block;
    position: relative;
    width: 80%;
    margin: 10px auto;
    font-size: 0.8em;
    font-family: monospace;
}
