body { background-size: 10%, 10%;
    background-image: url(../imgs/ico2018.png), url(../imgs/ico2018_image.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
  }

.reveal .slides {width: 1800px;}

.reveal .slides strong, .reveal .slides b {
    color: rgb(234,86,13);
}

.reveal .slides img, .reveal p img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-color:rgb(234,86,13);
    border-style:solid;
    border-width:2px;
}


.reveal table img{
    border-color:rgb(234,86,13);
}

#title-slide h1 {
    font-size: 2em;
}

.reveal .slides h1,  .reveal .slides h2,  .reveal .slides h3,  .reveal .slides h4{
    color: rgb(235, 85, 15);
    font-family: Arial, sans-serif;
    line-height:1.1;
    word-wrap:break-after;
}

.reveal h3 {
    border-bottom: 1px solid rgb(235,85,15);
    width:80%;
}

#title-slide p {
    color: rgb(234,86,13);
    text-align: right;
}

.reveal .slides p {
    text-align: justify;
    color: rgb(130,130,130);
}

.reveal .slides blockquote {
    width:95%;
    font-size:0.8em;
}

.reveal .slides blockquote p{
    width: 90%;
    font-style:justify;
}

.reveal figcaption, .reveal .citation {
    font-size:0.5em;
    font-style: italic;
}

.reveal .citation p{
    text-align: right;
}

#pistes {
    font-size: 0.8em;
}

.reveal ol, .reveal ul, .reveal dd{
    width: 97%;
    color: rgb(130,130,130);
}

.reveal dt {
    color:rgba(236,86,13,1)}

.reveal table th {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.reveal table td {
    text-align: right;
    border-bottom: 1px solid #ddd;
} 
.reveal table, .reveal th, .reveal td {
    border-bottom: 1px solid rgb(230, 230, 230);
    border-top: 1px solid rgb(230, 230, 230);
} 

#le-cahier-de-noteslaboratoire  ul{
    color:black;
    font-size:0.9em;
}

#labview figure {
    position: fixed;
    width: 30%;
    right: -150px;
    bottom: 20px;
}

.l-double{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.one {
    grid-column: 1;
    grid-row:1;
}
.two {
    grid-column: 2;
    grid-row:1;
}

#small-git {
    font-size:0.5em;
}
/* div.warning {color: rgba(236,86,13,1)}

div.info{
    color: rgba(236,86,13,1);
    font: 1.5em italic, sans-serif;
    margin-top: 2em;
    margin-right: auto;
    text-align:justify;
    width:20em
} */

/* .reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 10px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); } */



/* .reveal a {
    color:rgb(234,86,13)}

.reveal .slides .email {
    font-family: monospace;
    font-size:1em;
    text-transform:lowercase;
    border-bottom-style:none;
} */

/* .reveal .slides .title, .reveal .slides .date, .reveal .slides .author  {
    border-bottom-style:none;
} */

/* /* #sec-title-slide .present {
    width: 1500px
} */
/* .reveal table{
    font-size: 0.5em;
}  */
